<h2>
  <%# link_to("Download Krem File", download_krem_path(@file_path), class: 'btn btn-info btn-lg')%>

  <a class="btn btn-info btn-lg" href=<%= "/download_krem?path=#{@file_path}"%>> Download Krem File</a>
</h2>